name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.9]
        #os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Fix Conda permissions on macOS
      run: sudo chown -R $UID $CONDA
      if: matrix.os == 'macos-latest'
    - name: Setup conda environment with conda dependencies
      run: |
        conda update -n base -c defaults conda
        conda install python=${{ matrix.python-version }}
        conda env update --file environment.yml --name base --prune
    - name: Install package and testing dependencies
      run: |
        pip install -e .[tests]
    - name: Lint with flake8
      run: |
        conda init bash
        conda activate base
        conda install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 FAFSA --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 FAFSA --count --exit-zero --max-complexity=10 --max-line-length=80 --statistics
